{%extends "goods_base.html"%}
{%block head%}
	<script type="text/javascript" src="js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/slide.js"></script>
{%endblock head%}
{%block Selfbody%}


	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="fruit">新鲜水果</a></li>
			<li><a href="#model02" class="seafood">海鲜水产</a></li>
			<li><a href="#model03" class="meet">猪牛羊肉</a></li>
			<li><a href="#model04" class="egg">禽类蛋品</a></li>
			<li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="#model06" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/site/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/site/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/site/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/site/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/site/images/adv01.jpg"></a>
			<a href="#"><img src="/static/site/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">新鲜水果</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for click in fruit_click%}
					<a href='{%url "df_goods:detail"%}?item={{ click.id }}'>{{ click.title }}</a>
				{%endfor%}
			</div>
			<a href='{%url "df_goods:goods_list"%}?type={{ fruit_type.id }}&page=1&order=1'
			class="goods_more fr" >
			查看更多 >
			</a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner01.jpg"></div>
			<ul class="goods_list fl">
				{%for new in fruit_new%}
				<li>
					<h4><a href='{%url "df_goods:detail"%}?item={{ new.id }}'>{{ new.title }}</a></h4>
					<a href='{%url "df_goods:detail"%}?item={{ new.id }}'><img src="/static/site/images/{{ new.pic }}"></a>
					<div class="prize">¥ {{ new.price }}</div>
				</li>
				{%endfor%}

			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">海鲜水产</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for click in seafood_click%}
					<a href='{%url "df_goods:detail"%}?item={{ click.id }}'>{{ click.title }}</a>
				{%endfor%}				
			</div>
			<a href='{%url "df_goods:goods_list"%}?type={{ seafood_type.id }}&page=1&order=1' class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner02.jpg"></div>
			<ul class="goods_list fl">
				{%for new in seafood_new%}
				<li>
					<h4><a href='{%url "df_goods:detail"%}?item={{ new.id }}'>{{ new.title }}</a></h4>
					<a href='{%url "df_goods:detail"%}?item={{ new.id }}'><img src="/static/site/images/{{ new.pic }}"></a>
					<div class="prize">¥ {{ new.price }}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">猪牛羊肉</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for click in meat_click%}
				<a href='{%url "df_goods:detail"%}?item={{ click.id }}'>{{ click.title }}</a>
				{%endfor%}
			</div>
			<a href='{%url "df_goods:goods_list"%}?type={{ meat_type.id }}&page=1&order=1' class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner03.jpg"></div>
			<ul class="goods_list fl">
				{%for new in meat_new%}
				<li>
					<h4><a href='{%url "df_goods:detail"%}?item={{ new.id }}'>{{ new.title }}</a></h4>
					<a href='{%url "df_goods:detail"%}?item={{ new.id }}'><img src="/static/site/images/{{ new.pic }}"></a>
					<div class="prize">¥ {{ new.price }}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">禽类蛋品</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for click in poultry_click%}
				<a href='{%url "df_goods:detail"%}?item={{ click.id }}'>{{ click.title }}</a>
				{%endfor%}
			</div>
			<a href='{%url "df_goods:goods_list"%}?type={{ poultry_type.id }}&page=1&order=1'  class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner04.jpg"></div>
			<ul class="goods_list fl">
				{%for new in poultry_new%}
				<li>
					<h4><a href='{%url "df_goods:detail"%}?item={{ new.id }}'>{{ new.title }}</a></h4>
					<a href='{%url "df_goods:detail"%}?item={{ new.id }}'><img src="/static/site/images/{{ new.pic }}"></a>
					<div class="prize">¥ {{ new.price }}</div>
				</li>
				{%endfor%}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">新鲜蔬菜</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner05.jpg"></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">速冻食品</h3>
			<div class="subtitle fl">
				<span>|</span>
				<a href="#">鲜芒</a>
				<a href="#">加州提子</a>
				<a href="#">亚马逊牛油果</a>
			</div>
			<a href="#" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/site/images/banner06.jpg"></div>
			<ul class="goods_list fl">
				<li>
					<h4><a href="#">维多利亚葡萄维多利亚葡萄维多利亚葡萄维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
				<li>
					<h4><a href="#">维多利亚葡萄</a></h4>
					<a href="#"><img src="/static/site/images/goods.jpg"></a>
					<div class="prize">¥ 38.00</div>
				</li>
			</ul>
		</div>
	</div>


	<script type="text/javascript" src="js/slideshow.js"></script>
	<script type="text/javascript">
		BCSlideshow('focuspic');
		var oFruit = document.getElementById('fruit_more');
		var oShownum = document.getElementById('show_count');

		var hasorder = localStorage.getItem('order_finish');

		if(hasorder)
		{
			oShownum.innerHTML = '2';
		}

		oFruit.onclick = function(){
			window.location.href = 'list.html';
		}
	</script>


{%endblock Selfbody%}