{%extends "base.html"%}
{%block body%}


<div class="search_bar clearfix">
	<a href="/" class="logo fl"><img src="/static/site/images/logo.png"></a>
	<div class="search_con fl">
		<input type="text" class="input_text fl" name="" placeholder="搜索商品">
		<input type="button" class="input_btn fr" name="" value="搜索">
	</div>
	<div class="guest_cart fr">
		<a href="{% url 'df_cart:index' %}" class="cart_name fl">我的购物车</a>
		<div class="goods_count fl" id="show_count">0</div>
	</div>
</div>

<div class="navbar_con">
	<div class="navbar">
		<h1 class="fl">全部商品分类</h1>
		<ul class="navlist fl">
			<li><a href='{%url "df_goods:index"%}'>首页</a></li>
			<li class="interval">|</li>
			<li><a href="">手机生鲜</a></li>
			<li class="interval">|</li>
			<li><a href="">抽奖</a></li>
		</ul>
	</div>
</div>
<script>
	// 更新我的购物车数量
	$.ajax({
		type: "GET",  //默认get
		url: "{% url 'df_cart:query' %}",  //默认当前页
		data: {"q":"count"},  //格式{key:value}
		dataType: "json",
		beforeSend: function () {}, //请求发送前回调,常用验证
		success: function (response) {  //请求成功回调
			$("#show_count").html(response.cart_count)
		},
	});
</script>

{%block Selfbody%}

{%endblock Selfbody%}
{%endblock body%}
