{%extends "base.html"%}
{%block head%}
<script>
    $(function(){
        
        $("#{{ this }}").addClass("active").siblings().removeClass("active");
            
    })
    
</script>
{%block site_head%}
{%endblock site_head%}
{%endblock head%}

{%block body%}


<div class="search_bar clearfix">
    <a href="../" class="logo fl"><img src="/static/user/images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>		
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
            <li><a id="user_center_info" href="user_center_info">· 个人信息</a></li>
            <li><a id="user_center_order" href="user_center_order" >· 全部订单</a></li>
            <li><a id="user_center_site" href="user_center_site">· 收货地址</a></li>
        </ul>
    </div>
    {%block bodySelf%}

    {%endblock bodySelf%}
    

</div>



{%endblock body%}
